.mint {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.gif-doodles {
  width: 330px;
  height: 330px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(93, 196, 255, 0.4);
}

.gif-doodles img {
  width: 100%;
}

.mint h2 {
  font-family: 'Comic Neue', cursive;
  font-size: 64px;
  margin: 0;
  margin-top: 18px;
  font-weight: 800;
  color: white;
  text-align: center;
  background: linear-gradient(to right, #f32170, #ffeb07, #2196f3, #ff00eb);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-stroke: 2px black;
}

.mint .qty {
  font-size: 24px;
  font-weight: 500;
  color: rgb(216, 216, 216);
  margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
  .mint h2 {
    font-size: 40px;
  }
}